// Profile Card Styling

// PROFILE ICON AND NAME
#profile {
  // position and size
  height: 400px;
  width: 100%;
  margin-top: 120px; // push below nav bar

  // color/backdrop
  background-color: beige;
  background-image: url("/images/bg-fabric.png");
  
  //flexboxing
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}