// Navigation Bar Styling

// ----------------------------
// GLOBAL ---------------------
// ----------------------------

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// ----------------------------
// VARIABLES ------------------
// ----------------------------

$fonts-special: 'Bungee', sans-serif;
$theme-col: #4056A1;

// ----------------------------
// FORMATTING -----------------
// ----------------------------

// MAIN NAVIGATION
nav {
  // position and size
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 1em 1.5em;
  
  // color
  color: white;
  background-color: $theme-col;

  // flexboxing
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  // LOGO
  #nav-left-block {
    font-family: $fonts-special;
    font-size: 150%;
  }

  // NEW TWEET BLOCK
  #nav-right-block {    
    display: flex;
    flex-direction: column;
    align-items: center;

    span:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  // ARROW SLOW BOUNCE ANIMATION
  .fa-angle-double-down {
    color: red;
    animation: arrow-updown 1s ease infinite alternate;
  }
}

// ----------------------------
// ANIMATIONS -----------------
// ----------------------------

// ARROW SLOW BOUNCE ANIMATION
@keyframes arrow-updown {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(50%);
  }
}