// MEDIA QUERIES - Responsive Display for Desktop (1024px +)

$desktop: 1024px;

// RESPONSIVE DISPLAY, REDUCE PROFILE SIZE AND LEFT-ALIGN
@media only screen and (min-width: $desktop) {
  #profile {
    width: 40%;

    margin-top: 8em; // push further below nav bar to align with tweets
    margin-left: 2em;
    margin-right: 5em;
  }
}

// RESPONSIVE DISPLAY, REDUCE CARD SIZE AND RIGHT-ALIGN
@media only screen and (min-width: $desktop) {
  // reflow content into twin columns, top-aligned
  body {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  // resize tweet cards display
  main {
    width: 50%;
    margin-top: 8em; // push below nav bar
  }  
}