// New Tweets Input

// ----------------------------
// VARIABLES ------------------
// ----------------------------

$fonts: 'Source Sans Pro', sans-serif;
$fonts-special: 'Bungee', sans-serif;
$ft-color: #545149;

$bg-color: #f4f1ec;
$theme-col: #4056A1;

// ----------------------------
// FORMATTING -----------------
// ----------------------------

// DEFAULTS
#new-tweet {
  width: 100%;
  // padding-top: 1em;

  display: flex;
  flex-direction: column;

  // error messages when inputs are not valid (none or >140 char)
  #error-validation {
    padding: 0.25em 0.5em;
    font-size: smaller;
    color: red;
    border: solid medium red;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // form for new tweets - stack text area, input box, counter
  form {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  // input field for new tweets
  textarea {
    resize: none;
    border: none;
    border-bottom: solid thick $ft-color;
    padding-bottom: 0.5em;

    font-weight: bold;
    background-color: #f4f1ec;
  }

  // formatting for Tweet button and counter number
  #new-tweet-btn-count {
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-family: $fonts-special;
    
    display: flex;
    justify-content: space-between;
  
    // counter colouring - red for negatives, normal for positives
    [sign="negative"] {
      color: red;
    }
  
    [sign="positive"] {
      color: $ft-color;
    }
  }
  
  // Tweet button to submit new Tweets
  button {
    border: none;
    padding: 0.25em 0.5em;

    color: white;
    background-color: $theme-col;

    // on hover, lighten colour and make button slightly larger, change cursor
    &:hover {
      background-color: #596aa0;
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}