// New Tweets Input and Cards Styling

// ----------------------------
// VARIABLES ------------------
// ----------------------------

$fonts: 'Source Sans Pro', sans-serif;
$fonts-special: 'Bungee', sans-serif;
$ft-color: #545149;

$bg-color: #f4f1ec;
$theme-col: #4056A1;

// ----------------------------
// FORMATTING -----------------
// ----------------------------

// DEFAULTS
section.new-tweet {
  width: 100%;
  padding-top: 1em;

  display: flex;
  flex-direction: column;

  #error-validation {
    display: flex;
    border: solid medium red;
    color: red;
    font-size: smaller;
    padding: 0.25em 0.5em;
    align-items: center;
    justify-content: space-between;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 125%;
    padding-top: 1em;
  }

  textarea {
    font-weight: bold;
    resize: none;
    background-color: #f4f1ec;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: thick;
    padding-bottom: 0.5em;
  }

  button {
    color: #FFFFFF;
    background-color: #4056A1;
    border: none;
    padding: 0.25em 0.5em;

    &:hover {
      background-color: #596aa0;
      cursor: pointer;
      transform: scale(1.05);
    }
  }


}

#new-tweet-btn-count {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 1em;

  [sign="negative"] {
    color: red;
  }

  [sign="positive"] {
    color: #545149;
  }
}

article.tweet {
  display: flex;
  flex-direction: column;
  border: thick solid;
}

article.tweet:hover {
  box-shadow: 5px 5px rgb(184, 184, 184);
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0em 0.5em;
}

article.tweet div.content {
  display: flex;
  border-bottom: thick solid;
  padding: 0em 1em;
  font-weight: 300;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  font-weight: bold;
  padding: 0em 2em;
  padding-bottom: 1em;
}

div.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4056A1;
  font-size: medium;
  gap: 0.5em;
}

div.icons i:hover {
  color: darkgoldenrod;
}

p.pic-name {
  display: flex;
  align-items: center;
}

p.handle {
  font-weight: bold;
  color: lightsteelblue;
}