html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 1em 1.5em;
  color: white;
  background-color: #4056A1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
nav #nav-left-block {
  font-family: "Bungee", sans-serif;
  font-size: 150%;
}
nav #nav-right-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav #nav-right-block span:hover {
  transform: scale(1.05);
  cursor: pointer;
}
nav .fa-angle-double-down {
  color: red;
  animation: arrow-updown 1s ease infinite alternate;
}

@keyframes arrow-updown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(50%);
  }
}
