#new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#new-tweet #error-validation {
  padding: 0.25em 0.5em;
  font-size: smaller;
  color: red;
  border: solid medium red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#new-tweet form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#new-tweet textarea {
  resize: none;
  border: none;
  border-bottom: solid thick #545149;
  padding-bottom: 0.5em;
  font-weight: bold;
  background-color: #f4f1ec;
}
#new-tweet #new-tweet-btn-count {
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
}
#new-tweet #new-tweet-btn-count [sign=negative] {
  color: red;
}
#new-tweet #new-tweet-btn-count [sign=positive] {
  color: #545149;
}
#new-tweet button {
  border: none;
  padding: 0.25em 0.5em;
  color: white;
  background-color: #4056A1;
}
#new-tweet button:hover {
  background-color: #596aa0;
  cursor: pointer;
  transform: scale(1.05);
}
