.new-tweet {
  display: flex;
  width: 100%;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 125%;
}

.new-tweet textarea {
  font-weight: bold;
  resize: none;
  background-color: #f4f1ec;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: thick;
  padding-bottom: 0.5em;
}

.new-tweet button {
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  padding: 0.25em 0.5em;
}

#new-tweet-btn-count {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.new-tweet [sign="negative"] {
  color: red;
}

.new-tweet [sign="positive"] {
  color: #545149;
}

article.tweet {
  display: flex;
  flex-direction: column;
  border: thick solid;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0em 0.5em;
}

article.tweet div {
  display: flex;
  border-bottom: thick solid;
  padding: 0em 1em;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  padding: 0em 2em;
}

div.icons {
  display: flex;
  align-items: center;
  color: #4056A1;
}